html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #F6F6F6;
  line-height: 1.4;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
}

.container {
  margin: 0 20px;
  max-width: 1400px;
}

.btn {
  cursor: pointer;
  height: 45px;
  width: 150px;
  text-align: center;
  outline: none;
  font-size: 1.6rem;
  color: #F53855;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid #F53855;
}
.btn--rounded {
  border-radius: 2rem;
}
.btn--primary {
  width: 250px;
  height: 60px;
  border-radius: 13px;
  background-color: #F53855;
  color: white !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  box-shadow: 0 20px 35px -5px rgba(245, 56, 56, 0.35);
}
.btn--active {
  background-color: #F53838;
  color: white !important;
}
.btn--subcribe {
  background-color: #F53838;
  color: white !important;
  width: 250px;
  height: 55px;
}

.header__container {
  display: flex;
  margin-bottom: 125px;
}
.header__logo {
  height: 70px;
  margin-right: 120px;
}
.header .logo {
  height: 55px;
  object-fit: cover;
}
.header__menu-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.header__menu-item {
  margin-right: 40px;
}
.header__menu-link {
  color: #4F5665;
}
.header__menu-signin {
  margin-left: 120px;
  font-weight: bold;
}

.banner__container {
  margin-bottom: 100px;
  display: flex;
  margin-right: 60px;
  padding-left: 40px;
}
.banner-left, .banner-right {
  width: 50%;
}
.banner-left {
  margin-right: 50px;
}
.banner__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 2rem;
  line-height: inherit;
}
.banner__title-bold {
  font-weight: bold;
}
.banner__desc {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5rem;
}
.banner__image {
  width: 610px;
  height: 380px;
  object-fit: cover;
}

.statistic__container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 80px;
}
.statistic__item {
  height: 70%;
  width: 33.3333333333%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #EEEFF2;
}
.statistic__item:last-child {
  border: none;
}
.statistic__icon {
  height: 60px;
  width: 60px;
  margin-right: 35px;
}
.statistic__detail {
  display: flex;
  flex-direction: column;
}
.statistic__number {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.statistic__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.feature__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  padding-bottom: 190px;
}
.feature__image, .feature__detail {
  width: calc(50% - 82px);
}
.feature__image {
  object-fit: cover;
}
.feature__title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin-bottom: 20px;
}
.feature__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 20px;
}
.feature__item {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  display: flex;
}
.feature__text {
  padding-left: 10px;
}

.plan__container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}
.plan__title {
  padding-top: 80px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}
.plan__desc {
  width: 555px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin-bottom: 60px;
}
.plan__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}
.plan__item {
  margin-left: 60px;
  margin-right: 60px;
  width: calc(33% - 40px);
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan__item:last-child {
  border: 1px solid #F53855;
}
.plan__item-img {
  margin-top: 80px;
  width: 145px;
  height: 165px;
  object-fit: cover;
  margin-bottom: 30px;
}
.plan__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
  margin-bottom: 30px;
}
.plan__item__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.plan__item__text {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
}
.plan__item__list {
  margin-bottom: 90px;
}
.plan__price {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
  margin-bottom: 20px;
}
.plan__price-inmo {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}
.plan__select {
  margin-bottom: 50px;
}

.network__container {
  padding: 0 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.network__title {
  margin: 0 auto;
  width: 383px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin-bottom: 20px;
}
.network__desc {
  margin: 0 auto;
  width: 555px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin-bottom: 150px;
}
.network__image {
  margin: 0 30px;
  object-fit: cover;
}

.partner__container {
  margin: 0 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partner__image {
  width: calc(20% - 50px);
  object-fit: cover;
}

.customer__container {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer__title {
  width: 448px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin-bottom: 20px;
}
.customer__desc {
  width: 555px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin-bottom: 60px;
}
.customer__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.customer__item {
  width: calc(33% - 33px);
  padding: 20px 20px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
}
.customer__item:first-child {
  border: 2px solid #F53838;
}
.customer__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin-bottom: 30px;
}
.customer__image {
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}
.customer__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 100px;
}
.customer__name {
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #0B132A;
}
.customer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.customer__rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.customer__number {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
}
.customer__comment {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}
.customer__page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__page-sotrang {
  display: flex;
}
.customer__page-dot {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: #DDE0E4;
  margin-left: 15px;
}
.customer__page-dot:first-child {
  background-color: #F53855;
  width: 45px;
}
.customer__page-arrow {
  display: flex;
}
.customer__arrow {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.customer__arrow:first-child {
  border: 2px solid #F53855;
}
.customer__arrow:nth-child(2) {
  background-color: #F53855;
}
.customer__arrow-left {
  margin: 18px auto;
  color: #F53855;
}

.subcribe__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 180px;
  margin-bottom: 65px;
}
.subcribe__title {
  width: 370px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0B132A;
  margin-bottom: 20px;
}
.subcribe__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 65px;
  position: relative;
}
.footer .logo {
  width: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
.footer__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 30px;
}
.footer__brand {
  font-weight: bold;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.footer__social-icon {
  width: 50px;
}
.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #AFB5C0;
}
.footer__feature {
  right: 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 130px;
}
.footer__list:last-child {
  margin-right: 50px;
}
.footer__item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 10px;
}
.footer__item:first-child {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}
.footer__left {
  width: 40%;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    margin-right: 50px;
  }
  .header__menu-signin {
    margin-left: 40px;
  }
  .header__menu-item {
    margin-right: 20px;
  }

  .banner__container {
    padding-left: 40px;
    margin-right: 50px;
  }
  .banner__image {
    height: 271px;
  }

  .statistic__container {
    height: 160px;
  }

  .plan__item {
    margin-left: 15px;
    margin-right: 20px;
  }

  .customer__container {
    margin-left: 25px;
    margin-right: 25px;
  }
  .customer__item {
    padding: 10px;
    height: 100%;
    width: calc(33% - 14px);
  }
  .customer__detail {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header__container {
    margin-bottom: 80px;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    margin-left: 30px;
  }
  .header .logo {
    height: 70px;
  }

  .banner__title {
    font-size: 35px;
  }
  .banner__desc {
    font-size: 12px;
  }
  .banner__image {
    height: 200px;
  }

  .btn--primary {
    width: 160px;
    height: 50px;
  }

  .statistic__container {
    height: 150px;
  }

  .feature__container {
    padding-left: 0;
    padding-bottom: 50px;
  }
  .feature__title {
    padding-top: 30px;
    font-size: 30px;
    line-height: 40px;
  }
  .feature__image {
    width: 50%;
    height: 320px;
  }

  .plan__item {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(33% - 10px);
  }
  .plan__item__text {
    padding-left: 10px;
  }

  .network__desc {
    margin-bottom: 50px;
  }

  .customer__info {
    margin-top: 20px;
    height: 30px;
  }
  .customer__image {
    margin-right: 20px;
  }
  .customer__address {
    display: none;
  }

  .subcribe__container {
    padding: 20px 40px;
  }
  .subcribe__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .btn--subcribe {
    background-color: #F53838;
    color: white !important;
    width: 200px;
    height: 45px;
  }

  .footer__left {
    width: 40%;
  }
  .footer__list {
    margin-right: 70px;
  }
  .footer__list:last-child {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 25px;
    line-height: inherit;
  }
  .banner__desc {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .banner__image {
    height: 120px;
  }
  .banner__container {
    padding-left: 20px;
    margin-bottom: 80px;
  }

  .btn--primary {
    width: 100px;
    height: 35px;
    font-size: 11px;
  }

  .statistic__container {
    height: 100px;
    margin-bottom: 60px;
  }
  .statistic__icon {
    height: 45px;
    width: 45px;
    margin-right: 10px;
  }
  .statistic__number {
    font-size: 15px;
    line-height: 20px;
  }
  .statistic__title {
    font-size: 15px;
    line-height: 20px;
  }

  .feature__container {
    padding-left: 30px;
  }
  .feature__detail {
    width: 100%;
  }
  .feature__title {
    font-size: 25px;
    line-height: 30px;
  }
  .feature__desc {
    font-size: 16px;
    line-height: 24px;
  }
  .feature__image {
    display: none;
  }

  .plan__list {
    display: flex;
    flex-direction: column;
  }
  .plan__item {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .plan__item__list {
    width: 50%;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .plan__item-title {
    width: fit-content;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .plan__item-img {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .plan__item__text {
    font-size: 16px;
  }
  .plan__package {
    padding-left: 20px;
    width: 40%;
  }
  .plan__price {
    width: 100%;
    margin-bottom: 15px;
  }
  .plan__select {
    margin-bottom: 25px;
  }
  .plan__desc {
    padding-left: 10px;
    width: auto;
  }

  .network__desc {
    width: 100%;
  }

  .partner__container {
    margin: 40px 20px;
  }
  .partner__image {
    width: calc(20% - 20px);
  }

  .customer__info {
    height: 50px;
  }
  .customer__name {
    font-size: 15px;
  }
  .customer__address {
    display: block;
  }
  .customer__list {
    flex-direction: column;
  }
  .customer__item {
    width: 90%;
    margin-bottom: 30px;
  }
  .customer__detail {
    margin-right: 180px;
  }

  .subcribe__container {
    padding: 20px 20px;
  }
  .subcribe__title {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .subcribe__button {
    font-size: 10px;
  }

  .btn--subcribe {
    background-color: #F53838;
    color: white !important;
    width: 150px;
    height: 35px;
  }

  .footer__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__left {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__feature {
    position: relative;
  }
  .footer__desc {
    margin-bottom: 10px;
  }
  .footer__social {
    margin-bottom: 10px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: normal;
  }
  .footer__item {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer__item:first-child {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
@media screen and (max-width: 479px) {
  .header__container {
    margin-bottom: 40px;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    margin-left: 20px;
  }
  .header .logo {
    height: 50px;
  }

  .banner-left {
    margin-right: 10px;
  }
  .banner__title {
    font-size: 17px;
    line-height: inherit;
  }
  .banner__desc {
    font-size: 8px;
  }
  .banner__image {
    height: 80px;
  }

  .btn--primary {
    width: 90px;
    height: 30px;
    font-size: 8px;
  }

  .statistic__container {
    height: 80px;
    margin-bottom: 40px;
  }
  .statistic__icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .statistic__number {
    font-size: 12px;
    line-height: 15px;
  }
  .statistic__title {
    font-size: 12px;
    line-height: 15px;
  }

  .feature__container {
    padding-left: 20px;
  }
  .feature__detail {
    width: 100%;
  }
  .feature__title {
    font-size: 20px;
    line-height: 25px;
  }
  .feature__desc {
    font-size: 14px;
    line-height: 22px;
  }
  .feature__image {
    display: none;
  }
  .feature__item {
    margin-bottom: 5px;
  }

  .plan__package {
    width: 100%;
    padding-left: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .plan__item {
    display: flex;
    flex-direction: column;
  }
  .plan__item-img {
    margin-top: 0px;
  }
  .plan__item-title {
    margin: 20px 0;
    font-size: 22px;
  }
  .plan__item__list {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .network__image {
    margin: 0;
  }
  .network__title {
    width: auto;
  }
  .network__desc {
    width: auto;
    margin-bottom: 50px;
  }

  .partner__container {
    margin: 30px 15px;
  }
  .partner__image {
    width: calc(20% - 10px);
  }

  .customer__title {
    width: auto;
    font-size: 26px;
    line-height: 35px;
  }
  .customer__address {
    display: none;
  }
  .customer__name {
    padding-top: 0px;
  }
  .customer__desc {
    width: auto;
    font-size: 13px;
    line-height: 20px;
  }
  .customer__detail {
    margin-right: 80px;
  }
  .customer__arrow {
    height: 40px;
    width: 40px;
  }
  .customer__page-dot {
    height: 8px;
    width: 8px;
  }
  .customer__page-dot:first-child {
    width: 25px;
  }
  .customer__list {
    margin-bottom: 40px;
  }

  .subcribe__container {
    padding: 20px 0px;
  }
  .subcribe__text {
    width: 70%;
  }
  .subcribe__title {
    width: auto;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .subcribe__desc {
    font-size: 10px;
  }
  .subcribe__button {
    font-size: 10px;
  }

  .btn--subcribe {
    background-color: #F53838;
    color: white !important;
    width: 120px;
    height: 30px;
  }

  .footer__item {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer__item:first-child {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
@media screen and (max-width: 372px) {
  .header__menu {
    display: none;
  }
  .header .logo {
    height: 40px;
  }

  .banner-left {
    margin-right: 10px;
  }
  .banner__container {
    padding-left: 20px;
  }
  .banner__title {
    font-size: 15px;
    line-height: inherit;
  }
  .banner__desc {
    font-size: 7px;
  }
  .banner__image {
    height: 70px;
  }

  .btn--primary {
    width: 90px;
    height: 30px;
    font-size: 8px;
  }

  .feature__title {
    font-size: 15px;
    line-height: 20px;
  }
  .feature__desc {
    font-size: 14px;
    line-height: 22px;
  }
  .feature__image {
    display: none;
  }
  .feature__item {
    margin-bottom: 5px;
  }

  .customer__title {
    width: auto;
    font-size: 26px;
    line-height: 35px;
  }
  .customer__info {
    height: 35px;
  }
  .customer__address {
    display: none;
  }
  .customer__desc {
    width: auto;
    font-size: 13px;
    line-height: 20px;
  }
  .customer__detail {
    margin-right: 80px;
  }
  .customer__comment {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .header__container {
    margin-bottom: 30px;
  }
  .header__logo {
    height: 40px;
  }

  .banner__container {
    margin-bottom: 50px;
  }
  .banner-left {
    margin-right: 10px;
  }
  .banner__container {
    padding-left: 10px;
  }
  .banner__title {
    font-size: 12px;
    line-height: inherit;
    margin-bottom: 10px;
  }
  .banner__desc {
    font-size: 5x;
    margin-bottom: 15px;
  }
  .banner__image {
    height: 60px;
  }

  .btn--primary {
    width: 70px;
    height: 20px;
    font-size: 6px;
  }

  .statistic__container {
    height: 60px;
    margin-bottom: 20px;
  }
  .statistic__icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
  .statistic__number {
    font-size: 8px;
    line-height: 10px;
  }
  .statistic__title {
    font-size: 9px;
    line-height: 10px;
  }
  .statistic__item {
    border-right: 1px solid #EEEFF2;
  }

  .feature__container {
    padding-left: 10px;
  }
  .feature__detail {
    width: 100%;
  }
  .feature__title {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .feature__desc {
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 7px;
  }
  .feature__image {
    display: none;
  }
  .feature__item {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .feature__check {
    width: 18px;
    height: auto;
  }

  .plan__item__list {
    padding-left: 12px;
    margin-bottom: 10px;
  }
  .plan__item__text {
    font-size: 12px;
  }
  .plan__item-img {
    margin-bottom: 0px;
  }
  .plan__item-title {
    font-size: 18px;
    margin: 13px 0;
  }
  .plan__container {
    margin-bottom: 50px;
  }
  .plan__price {
    font-size: 18px;
  }
  .plan__price-inmo {
    font-size: 18px;
  }
  .plan__select {
    width: 100px;
    height: 30px;
    font-size: 15px;
  }

  .network__title {
    font-size: 20px;
    line-height: 30px;
  }
  .network__desc {
    font-style: 12px;
    line-height: 20px;
  }

  .partner__container {
    margin: 20px 10px;
  }
  .partner__image {
    width: calc(20% - 5px);
  }

  .customer__container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .customer__info {
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .customer__image {
    margin-right: 10px;
  }
  .customer__desc {
    width: auto;
    font-size: 13px;
    line-height: 20px;
  }
  .customer__detail {
    margin-right: 20px;
  }
  .customer__comment {
    font-size: 12px;
  }
  .customer__arrow {
    height: 30px;
    width: 30px;
  }
  .customer__page-dot {
    height: 5px;
    width: 5px;
  }
  .customer__page-dot:first-child {
    width: 20px;
  }
  .customer__list {
    margin-bottom: 20px;
  }

  .subcribe__container {
    padding: 20px 0px;
    margin-bottom: 30px;
  }
  .subcribe__text {
    width: 70%;
  }
  .subcribe__title {
    width: auto;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .subcribe__desc {
    font-size: 10px;
    line-height: 15px;
  }
  .subcribe__button {
    font-size: 8px;
  }

  .btn--subcribe {
    background-color: #F53838;
    color: white !important;
    width: 80px;
    height: 25px;
  }

  .footer__container {
    padding-left: 0;
  }
  .footer__feature {
    display: none;
  }
  .footer__desc {
    font-size: 12px;
  }
  .footer__copyright {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
